$primary-color: #000000;
// $secondary-color: #6c757d;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .banner-main {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 97px;
    }
  }

  .mission {
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 0px 115px;

    h2 {
      white-space: nowrap;
      justify-content: center;
      font-family: 'e-Ukraine-Bold', sans-serif;
      font-size: 33px;
      color: $primary-color;
    }

    p {
      font-family: 'e-Ukraine-Regular', sans-serif;
      font-size: 25px;
      color: $primary-color;
    }
  }

  .direction {
    margin-top: 100px;

    &__title {
      h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 105px;
        font-family: 'e-Ukraine-Bold', sans-serif;
        font-size: 36px;
        color: $primary-color;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .direction__item {
        width: 33%;
        margin-bottom: 84px;

        .direction__icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 48px;
          }

          span {
            text-align: center;
            color: $primary-color;
            font-family: 'e-Ukraine-Regular', sans-serif;
            font-size: 22px;
          }
        }
      }

      .direction__subtitle {
        color: $primary-color;
        font-family: 'e-Ukraine-Regular', sans-serif;
        font-size: 22px;
        margin-bottom: 127px;

        p {
          padding: 0 90px;
        }
      }
    }
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: 'e-Ukraine-Regular', sans-serif;
    font-size: 32px;
    color: $primary-color;
    margin-bottom: 75px;
  }

  &__icon {
    display: flex;
    justify-content: center;

    img {
      margin: 0 15px 136px 15px;
      cursor: pointer;
    }
  }
}

.photogallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  &__title {
    font-family: 'e-Ukraine-Bold', sans-serif;
    font-size: 35px;
    color: $primary-color;
    margin-bottom: 146px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.donate {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 97px;
  margin-bottom: 184px;

  &__title {
    font-family: 'e-Ukraine-Regular', sans-serif;
    font-size: 32px;
    color: #fefefe;
  }

  &__image {
    cursor: pointer;
  }
}
